@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Proxima_Nova_Bold';
  src: url('Proxima_Nova_Bold.otf');
}

@font-face {
  font-family: 'Proxima_Nova_Light';
  src: url('Proxima_Nova_Light.otf');
}

html,
body {
  // height: 100%;
  font-family: 'Proxima_Nova_Light';
  background-color: lightgray;
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
}
// ----------------

nav {
  background-color: #3778c2;
}

.container{
  padding-bottom: 4.5rem;
}