<footer class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'Mkrtich Sargsyan', 'https://github.com/MkrtichSargsyan',target: "_blank",class:'text-white' %></small>
  </div>
</footer>